html, body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

button {
  font-size: 14pt;
}

#pic {
  border: 1px solid black;
  padding: 10px;
}

#pic .row {
  height: 20px;
}

#pic .pixel {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.drawing-canvas {
  border: 1px solid black;
  width: 240px;
  height: 240px;
}

.selected-color {
  border: 3px solid lime;
}


/* HOME PAGE */
.btn {
  border: 5px solid black;
  padding: 5px;
}

.btn img {
  display: block;
  height: 240px;
  width: 240px;
}

.btn button {
  display: block;
  width: 150px;
  height: 50px; 
}

.btn .btn-title {
  font-size: 25pt;
} 

.btn .btn-list {
  padding-left: 5px;
}
/* END HOME PAGE */


/* SELECT DRAWING PAGE */
.select-drawing img {
  display: inline-block;
  margin: 5px;
  width: 240px;
  height: 240px;
}

.select-drawing .selected {
  border: 10px solid purple;
}


/* END SELECT DRAWING PAGE */


/* CAMERA PAGE */

.camera video {
  border: 3px solid black;
}


/* END CAMERA PAGE */
